@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <title>Свяжитесь с нами</title>
    <style>
        body, html {
            height: 100%;
            width: 100%;
            margin: 0;
            background-color: #343a40; /* Цвет фона - Bootstrap bg-dark */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .social-icons a {
            display: inline-block;
            margin: 0 15px;
        }

        .social-icons img {
            width: 450px; /* Установите желаемый размер иконок */
            height: 300px;
            background: none; /* Убедитесь, что фон прозрачный */
            border: none; /* Убедитесь, что нет границ */
        }

        /* Дополнительный стиль для удаления подчеркивания ссылок */
        .social-icons a {
            text-decoration: none;
        }
    </style>
</head>
<body class="bg-dark">
    <div class="social-icons">
        <a href="https://t.me/Dammchik_JR">
            <img src="https://logolook.net/wp-content/uploads/2023/10/Telegram-Logo.png" alt="Telegram" />
        </a>
        <a href="https://vk.com/dammchikbtw">
            <img src="https://pk33.mskobr.ru/files/novosti/Соц%20сети/d91bcb8ad3862eef5b07e48bc149f4.png" alt="VKontakte" />
        </a>
    </div>
</body>
</html>