@model BarbershopWebApplication.Models.BarbershopRecordings 
@{ 
    Layout = null; 
}
<!DOCTYPE html> 
<html> 
<head> 
    <meta name="viewport" content="width=device-width" /> 
    <title>Онлайн запись</title> 
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head> 
<body > 
    <div class="panel panel-success"> 
        <div class="panel-heading text-center"><h4>Запись</h4></div> 
        <div class="panel-body"> 
            <form class="p-a-1" asp-action="OnlineRecording" method="post"> 
            <div asp-validation-summary="All"></div> 
            <div class="form-group"> 
                <laЬel asp-for="Name">Ваше имя:</laЬel> 
                <input class="form-control" asp-for="Name" /> 
            </div> 
            <div class="form-group"> 
                <laЬel asp-for="Email">Ваш e-mail:</laЬel> 
                <input class="form-control" asp-for="Email" /> 
            </div> 
            <div class="form-group"> 
                <laЬel asp-for="Phone">Ваш номер телефона:</laЬel> 
                <input class="form-control" asp-for="Phone" /> 
            </div> 
            <div class="form-group"> 
                <laЬel>Will you attend?</laЬel> 
                <select class="form-control" asp-for="WillAttend">
                    <option value="">Choose an option</option>
                    <option value="true">Yes, I'll Ье there</option>
                    <option value="falsr">No, I can't come</option>
                </select>
            </div>
            <div class="text-center">
                <button class="btn btn-primary" type="submit">
                    Подтвердить
                </button>
            </div>
            </form>
        </div>
    </div>
</body> 
</html> 
