@model BarbershopWebApplication.Models.Recording
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Онлайн запись</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <style>
        body {
            background-color: #343a40; /* Bootstrap bg-dark */
            color: #0d6efd; /* Цвет шрифта */
        }

        .panel-success {
            border-color: #0d6efd;
        }

        .panel-heading {
            background-color: #343a40;
            border-color: #0d6efd;
        }

        .panel-body {
            background-color: #343a40;
        }

        label, .btn-primary {
            color: #0d6efd;
        }

        .form-control {
            background-color: #343a40;
            color: #0d6efd;
            border-color: #0d6efd;
        }

        .form-control:focus {
            border-color: #0d6efd;
            box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
        }

        .btn-primary {
            background-color: #0d6efd;
            border-color: #0d6efd;
            color: #ffffff; /* Белый цвет текста для кнопки */
        }

        .btn-primary:hover {
            background-color: #0b5ed7;
            border-color: #0a58ca;
            color: #ffffff; /* Белый цвет текста при наведении на кнопку */
        }

    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="panel panel-success">
            <div class="panel-heading text-center"><h4>Запись</h4></div>
            <div class="panel-body">
                <form asp-action="OnlineRecording" method="post">
                    <div asp-validation-summary="All"></div>

                    <div class="form-group">
                        <label asp-for="Name">Ваше имя:</label>
                        <input asp-for="Name" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label asp-for="Email">Ваш e-mail:</label>
                        <input asp-for="Email" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label asp-for="Phone">Ваш номер телефона:</label>
                        <input asp-for="Phone" class="form-control" />
                    </div>

                    
                    <div class="form-group">
                        <label asp-for="BarberId">Барбер:</label>
                        <select asp-for="BarberId" class="form-control" asp-items="@ViewBag.Barbers">
                            <option value="">Выберите барбера</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label asp-for="ServiceId">Услуга:</label>
                        <select asp-for="ServiceId" class="form-control" asp-items="@ViewBag.Services">
                            <option value="">Выберите услугу</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label asp-for="Time">Выберите время:</label>
                        <input asp-for="Time" type="datetime-local" class="form-control" />
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Подтвердить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
